*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #f4f3f3;
    position: fixed;
    z-index: 999;
}

.navbar-brand {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    align-items: center;
    color: black;
    margin-right: 50vw;
}

h3 {
    margin-left: 10px;
    font-weight: 800;
    color: #333;
}

.web {
    color: #ff523b;
    font-weight: 550;
    letter-spacing: 0;
}

.nav-list {
    display: flex;
    box-shadow: 0 0 3px rgba(192, 192, 192, 0.8);
    justify-content: end;

}

.nav-item {
    width: 8%;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-link {
    opacity: 0.6;
    text-decoration: none;
    transition: .25s;
    color: #ff523b;
}

.nav-link:hover {
    opacity: 1;
    transform: translateY(-10%);
}

.nav-icon {
    display: none !important;
}

.nav-text {
    font-weight: bolder;
    color: #ff523b;
}

.nav-text-category {
    position: relative;
    font-weight: bolder;
}

.nav-text-category::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #ff523b;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

/* Akhir Nav */



/* Overview Category */
.product-brand {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    align-items: center;
    color: black;
    font-weight: 550;
}

.product-brand h3 {
    margin-left: 1.5em;
    font-size: 2em;
    font-weight: 750;
    padding-top: 2.5em;
}

.product-list {
    display: flex;
    margin-top: 2.5em;
    list-style: none;
}

.product-link {
    margin-left: 3em;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: 0.5s;
}

.product-link:hover {
    opacity: 1;
    color: #ff523b;
    transform: translateY(-10%);
}

.product-text-children {
    position: relative;
}

.product-text-children::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: #ff523b;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

/* Akhir categroy */


/* Product */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
    padding-top: 2.3em;
}

.title::after {
    content: "";
    width: 180px;
    height: 3px;
    background-color: #ff523b;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 4em;
}

.col {
    flex-basis: 20%;
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.7s, background 0.5s;
    position: relative;
}

.col:hover {
    transform: scale(1.05);
}

.col img {
    width: 100%;
}

.col h4 {
    padding-top: 15px;
}

.col span {
    padding-top: 5px;
    font-weight: 500;
}

.rating i {
    color: #ff523b;
}

span .wa {
    padding-bottom: 2px;
    font-size: 1.2em;
    color: #ff523b;
    position: absolute;
    bottom: 26px;
    right: 10px;
}

span .shop {
    font-size: 1.1em;
    color: #ff523b;
    position: absolute;
    bottom: 9px;
    right: 10px;
}


/* Pesanan */
.close {
    cursor: pointer;
}

#newBox {
    display: none;
    padding-bottom: 5em;
}

#wrapper {
    padding-bottom: 6em;
}

.productBox {
    display: none;
}

.row-contact {
    display: flex;
    flex-wrap: wrap;
}

.contact-container {
    margin-left: 5em;
    margin-top: 2em;
}

.contact-left {
    flex-basis: 30%;
}

.contact-right {
    flex-basis: 70%;
}

.contact-right h1 {
    font-size: 2em;
    padding-bottom: 1em;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.contact-right .close {
    margin-left: 49vw;
    font-size: x-large;
}

.contact-left img {
    margin-top: 2.5em;
    width: 350px;
}

.btn2 {
    display: block;
    margin: 30px 0;
    background-image: url("../assets/images/button.png");
    background-repeat: no-repeat;
    text-decoration: none;
    width: fit-content;
    padding: 14px 70px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    color: #ff523b;
}

button {
    border: transparent;
    background-color: transparent;
}


form input,
form textarea,
select {
    width: 90%;
    border: 0;
    outline: none;
    background-color: whitesmoke;
    padding: 11px;
    margin: 7px 0;
    color: black;
    font-size: 0.85em;
    border-radius: 6px;
}

/* akhir product */




/* Footer */
.footer-area {
    background-image: url(../assets/images/a6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    color: #ffffff;
    padding: 70px 0;
}

.footer-area:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333;
    opacity: 0.8;
    z-index: -1;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    justify-content: space-between;

}

.single-footer:nth-child(1) {
    flex-basis: 33%;
}

.single-footer h4 {
    text-transform: capitalize;
    position: relative;
    font-size: 1.3em;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.single-footer h4::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    background-color: #ff523b;
}

.single-footer ul li {
    text-transform: capitalize;
    font-size: 1em;
    margin-bottom: 8px;
    padding-bottom: 2px;
}

.single-footer ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-footer ul li i {
    margin-right: 5px;
}

.single-footer ul li a:hover {
    color: #ff523b;
}

.footer-social {
    margin-top: 30px;
}

.footer-social a {
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
}

.footer-list {
    list-style: none;
    color: #ffffff;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-bottom-area {
    font-size: 0.7em;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    background-color: #333;
    opacity: 0.8;
}


/* Akhir footer */







/* Responsive Breakpoint */
@media screen and (max-width: 587px) {

    /* lakukan responsive code */
    .navbar-brand {
        display: none;
    }

    header {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 16px;
        z-index: 9;
        padding: 10px;
    }

    .nav-list {
        background-color: white;
        border-radius: 20px;
        justify-content: space-around;
    }

    .nav-link {
        opacity: 1;
    }

    .nav-icon {
        display: block !important;
        font-size: 24px;
        transition: .25s;
    }

    .nav-icon:hover {
        transform: translateY(-10%);
    }

    .nav-text {
        display: none;
    }

    .nav-text-home {
        display: none;
    }

    .loginbtn {
        opacity: 1;
    }


    /* Hero */
    #home {
        background-position: end;
        background-size: 55%;
        background-attachment: fixed;
        height: 100vh;
    }

    #hero h4 {
        padding-top: 2em;
        font-size: 1em;
        padding-bottom: 0.5em;
        font-weight: 550;
        letter-spacing: 2px;
        margin-left: -4em;
    }

    #hero h1 {
        padding-top: 10px;
        font-size: 2.7em;
        font-weight: bolder;
        letter-spacing: 1px;
        margin-left: -1.5em;
    }

    #hero h2 {
        font-size: 2.8em;
        padding-top: 5px;
        font-weight: 550;
        letter-spacing: 1px;
        color: #ff523b;
        margin-left: -1.5em;
    }

    #hero p {
        padding-top: 1em;
        padding-bottom: 3em;
        color: black;
        opacity: 0.8;
        letter-spacing: 1px;
        margin-left: -4em;
    }


    #hero button {
        background-image: url("../assets/images/button.png");
        background-position-x: -15px;
        border: 0;
        padding: 14px 45px 14px 45px;
        background-repeat: no-repeat;
        cursor: pointer;
        justify-content: center;
        font-weight: 700;
        font-size: 1em;
        margin-left: -4em;
    }


    /* Category */
    .col-box {
        flex-basis: 60%;
    }

    .col {
        flex-basis: 60%;
    }

    .product-brand h3 {
        margin-left: 0.7em;
        font-size: 1.2em;
        font-weight: 750;
    }

    .product-link {
        font-size: 0.8em;
        margin-left: 1.2em;
    }

    .product-text-men::after {
        width: 35px;
        height: 3px;
    }

    .contact-container {
        margin-left: 2em;
        margin-top: 2em;
    }


    /* Footer */
    .footer {
        margin-left: 1.5em;
    }

    .footer-area {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .single-footer,
    .single-footer:nth-child(1) {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .footer-bottom-area {
        width: 100vw;
        margin-bottom: 7em;
        justify-content: center;
        text-align: center;
    }
}